vendor
phpunit.xml
/.vs/config/applicationhost.config
/.vs/slnx.sqlite
*.suo
/.vs/VSWorkspaceState.json
/.idea
/.vs/slnx.sqlite-journal
/.vs
.settings/org.eclipse.wst.validation.prefs
.buildpath
.project
composer.lock
composer.phar
.metadata
